ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-items: stretch;
}

li > a {
  height: 100%;
}

@media screen and (max-width: 810px) {
  ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 460px) {
  ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
