a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
a:hover {
}
a.active::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: lightblue;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

p,
li {
  font-weight: normal;
}

a {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: lightblue;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.outlet_wrapper {
  transition: opacity 300ms ease-in-out;
  padding: 1rem 3rem;
  max-width: 1440px;
  margin: 0px auto;
}

.outlet_wrapper.fadeout {
  opacity: 0;
}

.outlet_wrapper.fadein {
  opacity: 1;
}

@media screen and (max-width: 465px) {
  .outlet_wrapper {
    padding: 1rem 1rem;
    margin: 0px auto;
  }
}
