:root {
  --brand_blue: #005e8c;
  --brand_dark: #1d1d1d;
}

a {
  text-decoration: none;
}

a.active::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--brand_blue);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a {
  display: inline-block;
  position: relative;
  color: var(--brand_blue);
}

a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--brand_blue);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

p,
li {
  font-weight: normal;
  color: var(--brand_dark);
}

button {
  background-color: var(--brand_blue);
  color: white;
  transition: all 300ms ease-in-out;
  padding: 0.75rem 1.55rem;
  border-radius: 2px;
  border: none;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.05rem;
  text-transform: capitalize;
}

button:hover {
  opacity: 0.6;
}

button:active {
  background-color: white;
  color: var(--brand_blue);
  outline: 2px solid var(--brand_blue);
}

input {
  outline: 2px solid transparent;
  transition: outline 300ms ease-in-out;
}

input:focus {
  outline-color: var(--brand_blue);
}

.outlet_wrapper {
  transition: opacity 300ms ease-in-out;
  padding: 1rem 3rem;
  max-width: 1440px;
  margin: 0px auto;
}

.outlet_wrapper.fadeout {
  opacity: 0;
}

.outlet_wrapper.fadein {
  opacity: 1;
}

@media screen and (max-width: 465px) {
  .outlet_wrapper {
    padding: 1rem 1rem;
    margin: 0px auto;
  }
}
